@import 'styles/config';

// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  z-index: 3;
}

main {
  padding-left: $offset;
  padding-right: $offset;
  padding-top: 80px;
}


//Main heading á síðunni
.h {
  font-family: 'Playfair Display', serif;
  font-size: $size-60;
  font-weight: $thick;
  color: $black;
  line-height: $size-80;
  @media (max-width: $breakpoint) {
    align: center;
    font-size: $size-32;
    line-height: $size-43;
  }
}

//Section heading
.sectionh {
  font-family: 'Playfair Display', serif;
  font-size: $size-40;
  line-height: $lheight-40;
  font-weight: $thick;
  color: $black;
  @media (max-width: $breakpoint) {
    align: center;
    font-size: $size-20;
    line-height: $lheight-20;
  }
}

//Newsletter heading - The Method
.newsletterh {
  font-family: 'Playfair Display', serif;
  font-size: $size-40;
  line-height: 1.5;
  font-weight: $thick;
  color: $white;
  @media (max-width: $breakpoint) {
    align: center;
    font-size: $size-20;
    line-height: $lheight-20;
  }
}

//Card heading - input text
.cardh {
  font-family: 'Playfair Display', serif;
  font-size: $size-22;
  line-height: $lheight-22;
  font-weight: $thick;
  color: $black;
  @media (max-width: $breakpoint) {
    font-size: $size-18;
    line-height: $lheight-18m;
  }
}

.inputh {
  font-family: 'Playfair Display', serif;
  font-size: $size-22;
  line-height: $lheight-22;
  font-weight: $thick;
  color: $white;
  @media (max-width: $breakpoint) {
    font-size: $size-18;
    line-height: $lheight-18m;
  }
}

//Meginmál
.p {
  font-family: 'Poppins', sans-serif;
  font-size: $size-18;
  line-height: $lheight-0;
  font-weight: $super-thin;
  color: $grey-text;
  @media (max-width: $breakpoint) {
    font-size: $size-15;
    line-height: $lheight-15;
  }
}

//Ingredients
.ingredients {
  font-family: 'Poppins', sans-serif;
  font-weight: $super-thin;
  font-size: $size-18;
  line-height: $lheight-18d2;
  color: $beige-grey-text;
  @media (max-width: $breakpoint) {
    font-size: $size-16;

    &:first-letter {
    font-family: 'Playfair Display', serif;
    font-size: $size-36;
    font-weight: $thick;
    line-height: $lheight-36;
    color: $beige;
    @media (max-width: $breakpoint) {
      font-size: $size-32;
      line-height: $lheight-32-2;
    }
  }
}

//Ingredients number
.inumber {
  font-family: 'Playfair Display', serif;
  font-size: $size-36;
  font-weight: $thick;
  line-height: $lheight-36;
  color: $beige;
  @media (max-width: $breakpoint) {
    font-size: $size-32;
    line-height: $lheight-32-2;
  }
}

//Newsletter - Craving more? & email
.n-c {
  font-family: 'Poppins', sans-serif;
  font-size: $size-16;
  font-weight: $normal;
  line-height: $lheight-0;
  color: $beige;
  @media (max-width: $breakpoint) {
    align: center;
    font-size: $size-12;
    line-height: $lheight-0;
  }
}

.n-e {
  font-family: 'Poppins', sans-serif;
  font-size: $size-16;
  font-weight: $normal;
  line-height: $lheight-0;
  color: $white;
  @media (max-width: $breakpoint) {
    align: center;
    font-size: $size-12;
    line-height: $lheight-0;
  }
}

//Navigation items í header
.navi {
  font-family: 'Poppins', sans-serif;
  font-size: $size-15;
  font-weight: $thin;
  line-height: $lheight-0;
  color: $beige-grey-text;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
  @media (max-width: $breakpoint) {
    font-family: 'Playfair Display', serif;
    font-weight: $thick;
    align: center;
    color: $black;
    font-size: $size-60;
    line-height: $lheight-0;
  }
}

//months on cards and footer link
.monthlink {
  font-family: 'Poppins', sans-serif;
  font-size: $size-14;
  font-weight: $super-thin;
  line-height: $lheight-0;
  color: $light-grey-text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

//Footer heading
.footerh {
  font-family: 'Poppins', sans-serif;
  font-size: $size-18;
  font-weight: $thin;
  line-height: $lheight-18d2;
  color: $black;
  @media (max-width: $breakpoint) {
    font-size: $size-14;
    line-height: $lheight-0;
  }
}

.takki {
  align-content: center;
  color: $beige;
  font-family: 'Poppins', sans-serif;
  font-weight: $normal;
  font-size: $size-16;
  line-height: $lheight-0;
  outline: none;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;

  }

}

button {
  border: 1px solid $beige;
  height: 52px;
  width: 250px;
  @media (max-width: $breakpoint) {
    height: 42px;
    width: 191px;
  }
}

button:hover,
button:hover a {
  background-color: $beige;
  color: $light-grey;
}

button:focus,
button:focus a {
  background-color: $light-grey;
  color: $beige;
}

//dæmi um hvernig button gæti verið í footer
.sub-button {
  background-color: $black; //eða kannski transparent bara
  color: $beige;
  border-color: $beige;
  outline: none;
}

li {
  list-style-type: none;
}

::placeholder {
  color: $dark-grey-text;
}
