main {
  .myndband-poster {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  a {
    text-decoration: none;
  }
  .rect {
    height: 1px;
    background-color: black;
  }
}

footer, header {
  display: flex;
  justify-content: center;
  align-items: center;
}
