main{
	padding-left:15px;
	padding-right:15px;
	}
	
footer, header {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	padding-bottom:30px;
	padding-top:20px;
	a{
		color:black;
		font-family:Arial;
	}
}	

.Header-text{
	h1 {
		font-family: arial;
		font-size: 54px;
		font-weight: bold;
		-webkit-hyphens: manual;
		-ms-hyphens: manual;
		hyphens: manual;
		@media (max-width: 800px){
			font-size: 32px;
		}
	}
	.small{
		display:none;
		@media (max-width: 400px){
			display:block;
		}
	}
	.big{
		display:none;
		@media (min-width: 400px){
			display:block;
		}
	}
}

.Nýleg,.Kennslumyndbönd,.Skemmtimyndbönd{
	h2{
		padding-bottom:20px;
		font-family: arial;
		font-size: 24px;
		font-weight: 700;
	}
}

.myndband-poster {
	padding-bottom:20px;
	.image{
		padding-right:20px;
		position: relative;
		text-align: center;
		color: white;
		.myndband-poster-time {
			background: rgba(0, 0, 0, 0.7);
			padding: 0.3em;
			position:absolute;
			bottom: 15px;
			right: 25px;
			p{
				color: white;
				font-family: arial;
			}
		}
	}
    img {
		width: 100%;
		object-fit: cover;
    }
	.myndband-title{
		p {
			color: black;
			font-family: arial;
			font-size: 1.1em;
			font-weight: 700;
			padding-right:10px;
		}
	}
	.myndband-time {
		color: black;
		font-family: arial;
		font-size: 1em;
	}
}
  
a {
	text-decoration: none;
}

.rect {
	height: 1px;
	background-color: black;
	margin-top:30px;
	margin-bottom:30px;
}













