main {
  .myndband-poster {
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  a {
    text-decoration: none;
  }
  .rect {
    height: 1px;
    background-color: black;
  }
}

footer, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 1em;
  font-family: arial;
  font-size: 4em;
  font-weight: 800;
}

h2 {
  margin-bottom: 0.5em;
  font-family: arial;
  font-size: 2em;
  font-weight: 700;
}

.myndband-title p {
  color: black;
  font-family: arial;
  font-size: 1.1em;
  font-weight: 700;
}

.myndband-time {
  color: black;
  font-family: arial;
  font-size: 1em;
}
